.modal-overlay{
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.95);
    border: solid 1px #979797;
}
#age_restriction_modal.modal-overlay.in,
.banner-section,
.view-where-to-find-location,
.partnership-section .our-products-textual-wrap a{
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.modal-overlay .modal-dialog {
    margin: 0 20px;
}
.modal-overlay .modal-dialog,
.banner-textual-wrap,
.product-item > img {
    width: 100%;
}
.modal-overlay .modal-dialog .modal-content,
.product-item,.where-to-find-table-wrap {
    border-radius: 10px;
    -webkit-box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.11);
            box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.11);
}
#age_restriction_modal .modal-body,
.age-accept-btn,
.modal-overlay .modal-footer{
    text-align: center;
    padding: 75px 20px 40px;
}
.modal-overlay .modal-footer
{
    padding: 0 0 20px;
}
#age_restriction_modal .modal-body img{
    width: 95.68px;
}
#age_restriction_modal .modal-body img + p{
    font-size: 12px;
    line-height: 2.08;
    color: #222;
    margin-top: 10px;
}
.age-accept-btn, #header nav a,#footer nav a{
    border-radius: 19px;
    font-size: 8px;
    height: 38px;
    padding: 3px 26px 0;
}
.age-accept-btn, #header nav a,
.partnership-section .our-products-textual-wrap a,
#footer nav a{
    font-weight: 900;
    letter-spacing: 0.2px;
}
.age-accept-btn,
.age-accept-btn:hover,
.age-accept-btn:active, 
.age-accept-btn:focus,
.banner-section,
.age-accept-btn:active:hover,
.age-accept-btn:active:focus{
    background-color: #0f0f5e;
}
.age-accept-btn,
.age-accept-btn:hover,
.age-accept-btn:active, 
.age-accept-btn:focus,
.age-accept-btn:active:hover,
.age-accept-btn:active:focus,
.banner-section,
#header nav a,
.our-products-wrap,
.product-item-textual-wrap a,
.view-where-to-find-location span,
.partnership-section .our-products-textual-wrap a,
#footer nav a{
    color: #fff;
}
.modal-overlay .modal-dialog .modal-content, 
.modal-overlay .modal-footer,
.age-accept-btn, .view-where-to-find-location button,
#all_locations_modal .modal-header,
.btn.close-modal{
    border: none;
}
#header{
    -webkit-transition: background-color 0.5s,-webkit-box-shadow 0.5s;
    transition: background-color 0.5s,-webkit-box-shadow 0.5s;
    -o-transition: background-color 0.5s,box-shadow 0.5s;
    transition: background-color 0.5s,box-shadow 0.5s;
    transition: background-color 0.5s,box-shadow 0.5s,-webkit-box-shadow 0.5s;
}
#header,.product-item-textual-wrap{
    padding: 30px;
    position: absolute;
    left: 0;
    right: 0;
}
.logo-link{
    display: inline-block;
}
#header nav a, #footer nav a{
    height: auto;
    padding: 0;
    border-radius: 0;
    text-transform: uppercase;
    margin: 0 12.5px;
}
.site-logo{
    width: 126px;
}
.banner-section{
    background: url('../images/banner-image.png') center no-repeat;
    background-size: cover;
    background-position-x: 55%;
    height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
}
.banner-textual-wrap{
    padding: 0 15px;
}
.banner-main-text{
    font-size: 29px;
    font-weight: 800;
    line-height: 1.14;
    margin-bottom: 14px;
    max-width: 630px;
}
.banner-sub-text{
    font-size: 14px;
    line-height: 1.79;
    max-width: 516px;
}
.banner-sub-text,
.product-item-textual-wrap .pdt-desc{
    font-weight: 500;
    opacity: 0.84;
}
.page-section{
    opacity: 0;
    -webkit-transition: opacity 0.8s;
    -o-transition: opacity 0.8s;
    transition: opacity 0.8s;
}
.product-item-textual-wrap .banner-sub-text.pdt-name,
.page-section.in-view{
    opacity: 1;   
}
.our-products-section {
    background: url('../images/products-bg-image.png') no-repeat;
    background-size: 120% auto;
}
.our-products-wrap {
    padding: 44px 0 30px;
    overflow: hidden;
}
.our-products-textual-wrap {
    margin-bottom: 40px;
    max-width: 432px;
}
.our-products-textual-wrap h2{
    font-size: 24px;
    font-weight: 800;
    line-height: 1.38;
    margin-bottom: 5px;
}
.product-item {
    position: relative;
    margin-top: 10px;
}
.product-item-textual-wrap a,
.product-item-textual-container,
.product-item > img{
    height: 100%;
}
.product-item-textual-wrap{
    padding: 0;
    top: 0;
    bottom: -1px;
    left: -1px;
    right: -1px;
}
.product-item-textual-wrap a,
.product-item-textual-container,
.where-to-find-location-block,
.where-to-find-location-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.product-item-textual-wrap a,
.product-item-textual-container{
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}
.product-item-textual-container{
    height: auto;
    padding: 47px 20px 16px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(44%, rgba(0, 0, 0, 0.53)), to(#000000));
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.53) 44%, #000000);
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.53) 44%, #000000);
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.53) 44%, #000000);
    border-radius: 0 0 10px 10px;
}
.product-item-textual-wrap .banner-sub-text.pdt-name,#age_restriction_modal .modal-body img + p,
.where-to-find-location-wrap > *{
    font-weight: 600;
}
.product-item-textual-wrap .pdt-desc{
    font-size: 12px;
    line-height: 1.58;
}
.our-products-section.where-to-find-section,
.view-where-to-find-location button,
#all_locations_modal .modal-content,
.btn.close-modal{
    background: none;
}
.where-to-find-section .our-products-wrap{
    padding: 30px 0;
}
.where-to-find-section .our-products-textual-wrap,
.partnership-section .our-products-textual-wrap h2{
    margin-bottom: 12px;
}
.where-to-find-section .our-products-textual-wrap h2,
.where-to-find-location-wrap > *,.where-to-find-location-wrap > a:hover,
.where-to-find-location-wrap > a:focus,
#all_locations_modal .our-products-textual-wrap h2,
.about-us-section .banner-sub-text a,
.about-us-section .banner-sub-text a:focus{
    color: #0e0e77;
}
.where-to-find-section .banner-sub-text,
#all_locations_modal .banner-sub-text,
#all_locations_modal .our-products-textual-wrap{
    color: #5d5d5d;
    max-width: none;
}
#all_locations_modal .where-to-find-main-wrap,.our-products-textual-wrap,
.view-where-to-find-location{
    padding: 0 30px;
}
.where-to-find-location-block {
    padding: 25px 30px 28px;
    border-bottom: 1px solid rgba(151, 151, 151, 0.5);
}
.where-to-find-location-block > h3{
    font-size: 16px;
    font-weight: bold;
    line-height: 1.56;
    color: #000;
    margin-bottom: 4px;
}
.where-to-find-location-wrap{
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
}
.where-to-find-location-wrap > *{
    font-size: 14px;
    line-height: 1.36;
    margin-bottom: 4px;
    display: inline-block;
}
.view-where-to-find-location{
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 123px;
    border: none;
    width: 100%;
    border-radius: 0 0 10px 10px;
}
.view-where-to-find-location span{
    font-size: 20px;
    font-weight: bold;
    line-height: 1.25;
}
#all_locations_modal .modal-header,
#all_locations_modal .modal-body,
.btn.close-modal{
    padding: 0;
}
.view-where-to-find-location img{
    width: 42.3px;
}
#header nav,
.show-pdt-desktop,
#footer nav{
    display: none;
}
#all_locations_modal .modal-content{
    padding: 54px 0;
}
#all_locations_modal .modal-content,
.btn.close-modal{
    -webkit-box-shadow: none;
            box-shadow: none;
}
#all_locations_modal .our-products-textual-wrap{
    margin-bottom: 25px;
}
#all_locations_modal .modal-dialog{
    margin: 0;
}
.where-to-find-table-wrap{
    background-color: #fff;
}
.where-to-find-location-block:nth-last-child(1){
    border-bottom: none;
}
#all_locations_modal .modal-header{
    position: relative;
}
.btn.close-modal{
    position: absolute;
    top: -14px;
    right: 30px;
}
.btn.close-modal img{
    width: 22px;
}
.partnership-section.where-to-find-section .our-products-wrap{
    padding: 30px 0 60px;
}
.partnership-section .our-products-textual-wrap a{
    margin: 27px 0 38px;
    width: 138px;
    height: 46px;
    border-radius: 23px;
    border: solid 1.5px #fff;
    font-size: 10px;
}
.our-products-image-wrap img{
    width: calc(100% + 30px);
    margin: 0 -15px;
}
.where-to-find-section.about-us-section .our-products-wrap{
    padding: 30px 0 0;
}
.where-to-find-section.about-us-section .our-products-textual-wrap{
    margin-bottom: 54px;
}
#footer,.partnership-section .our-products-textual-wrap a,
.view-where-to-find-location{
    background-color: #0e0e77;
}
#footer{
    padding: 37px 26px 44px;
    margin: -4px -15px 0;
}
.copyright-text{
    font-size: 14px;
    color: #9a9a9a;
}
@media screen and (min-width: 768px){ 
    #header{
        padding: 47px 66px;
    }
    .header-wrap,.footer-wrap,
    #about-us-section .our-products-wrap,
    #partnership-section .our-products-wrap {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        max-width: 1440px;
    }   
    #header.sticky{
        position: fixed;
        top: 0;
        width: 100%;
        padding: 20px 66px;
        background-color: #0e0e77;
        -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.84);
                box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.84);
        z-index: 1000;
    }
    .banner-section{
        background-position: unset;
    }
    .banner-textual-wrap{
        padding: 0 51px;
    }
    .our-products-wrap{
        padding: 74px 51px 30px;
    }
    .product-listing-wrap {
        margin: 0 -3.5px;
        width: calc(100% + 7px);
    }
    .product-item{
        margin: 10px 3.5px 0;
        width: calc(33.33% - 7px);
        max-width: 295px;
    }
    .our-products-section{
        background-size: auto 85%;
    }
    .our-products-textual-wrap{
        padding: 0 15px;
    }
    .show-pdt-desktop,
    #header nav,
    #footer nav{
        display: block;
    }
    #header nav a,#footer nav a{
        font-size: 10px;
    }
    .where-to-find-section .our-products-wrap{
        padding: 30px 51px 0;
    }
    .where-to-find-main-wrap{
        padding: 0 15px 15px;
    }
    .where-to-find-table-wrap,.product-listing-wrap{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    .where-to-find-location-block, .view-where-to-find-location {
        width: 33.33%;
    }
    .where-to-find-location-block{
        border-right: 1px solid rgba(151, 151, 151,0.5);
        padding: 34px 30px;
    }
    .where-to-find-location-block:nth-child(3n){
        border-right: none;
    }
    .view-where-to-find-location{
        height: auto;
        border-bottom-left-radius: 0;
    }
    .where-to-find-location-block:nth-child(3n+1):nth-last-child(-n+3),
    .where-to-find-location-block:nth-child(3n+1):nth-last-child(-n+3) ~ .where-to-find-location-block{
        border-bottom: none;
    }
    .partnership-section.where-to-find-section .our-products-wrap,
    .where-to-find-section.about-us-section .our-products-wrap{
        padding: 0;
    }
    #footer{
        padding: 37px 66px;
    }   
    #about-us-section .our-products-textual-wrap,
    #partnership-section .our-products-textual-wrap{
        max-width: none;
        margin: 0;
        padding: 10px 45px 10px 65px;
    }
    #about-us-section .our-products-textual-wrap{
        padding: 10px 65px 10px 45px;
        text-align: right;
    }
    #about-us-section .our-products-wrap{
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
            -ms-flex-direction: row-reverse;
                flex-direction: row-reverse;
        margin-top: -3px;
    }
    #where-to-find-section,#partnership-section{
        position: relative;
        z-index: 100;
    }
    #partnership-section{
        margin-top: -15px;
        z-index: 1;
    }
    .partnership-section .our-products-textual-wrap a{
        margin-bottom: 0;
    }
}
@media screen and (min-width: 992px){    
    .header-wrap,.banner-textual-wrap,.our-products-wrap,
    #all_locations_modal .modal-content,
    .footer-wrap{
        margin: 0 auto;
    }
    .banner-textual-wrap,
    .our-products-wrap,    
    #about-us-section .our-products-wrap,
    #partnership-section .our-products-wrap{
        max-width: 1572px
    }
    #all_locations_modal .modal-content{
        max-width: 1600px;
    }
    #age_restriction_modal.modal-overlay .modal-dialog{
        margin: 0;
        max-width: 396px;
    }
    #age_restriction_modal .modal-body{
        padding: 54px 28px 26px;
    }
    #age_restriction_modal .modal-body img + p{
        font-size: 14px;
        line-height: 1.79;
        margin-top: 20px;
    }
    .modal-overlay .modal-footer{
        padding: 0 0 55px;
    }
    .age-accept-btn{
        font-size: 11px;
    }
    .site-logo{
        width: 132px;
    }
    .where-to-find-section .our-products-textual-wrap{
        margin-bottom: 25px;
    }
    #all_locations_modal .modal-content {
        padding: 50px 65px;
    }
    #all_locations_modal .our-products-textual-wrap {
        margin-bottom: 50px;
    }
    .btn.close-modal{
        top: 15px;
    }
    #partnership-section{
        margin-top: -80px;
    }
}
@media screen and (min-width: 1280px){    
    .product-item{
        width: calc(25% - 7px);
        max-width: none;
    }
}
@media screen and (min-width: 2016px){    
    .our-products-section{
        background: url('../images/products-bg-image-large.png') no-repeat;
    }
}
@media screen and (min-width: 3073px){    
    .our-products-section{
        background-size: 50% auto;
    }
}